*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    font-family: Poppins, sans-serif;
    background-color: purple;
    color: turquoise;
}
.imgContainer img {
    display: block;
    margin: auto;
    width: 50%;
    height: 400px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flight {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 30px;
    padding: 0 20px;
}

.flight.title {
    font-weight: bolder;
}

/* Responsiveness */

/* 4K screen */
@media (max-width: 2560px) {
    .imgContainer img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

/* Desktop */
@media (max-width: 1440px) {
    .imgContainer img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    .imgContainer img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .imgContainer img {
        width: 100%;
    }
}

/* Mobile L */
@media (max-width: 425px) {
    .imgContainer img {
        width: 100%;
    }
}

/* Mobile M */
@media (max-width: 375px) {
    .imgContainer img {
        width: 100%;
    }
}

/* Mobile S */
@media (max-width: 320px) {
    .imgContainer img {
        width: 100%;
    }
}
