*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    font-family: Poppins, sans-serif;
    background-color: purple;
    color: turquoise;
}
.imgContainer img {
    display: block;
    margin: auto;
    width: 50%;
    height: 400px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flight {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 30px;
    padding: 0 20px;
}

.flight.title {
    font-weight: bolder;
}
